{%extends 'Crypto_news_app/base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        {% for items in api.Data %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{{items.imageurl}}" class="card-img-top" alt="{{items.source}}">
                <div class="card-body">
                    <h5 class="card-title">{{items.title}}</h5>
                    <p class="card-text">{{items.body}}</p>
                    <a href="{{items.url}}" class="btn btn-primary">Read more >></a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}